
<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px"
style="background-color: #327ebd;margin-top: -20px;margin-left:
   -20px;height:80px;width:105%;color:white !important">
<div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
 
  <h2 mat-dialog-title> {{title}} Bin</h2>
</div>
<div fxFlex.xs="100" fxFlex.lg=
"50" fxFlex.md="50" fxFlex.sm="50" >
<button style="margin-left: 75%" mat-raised-button color="secondary"mat-button mat-dialog-close>Cancel</button>
</div>
</div>

<div  class="border">
  <form [formGroup]="validations_form">
   
<span>
  <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{title}} Bin
          </mat-panel-title>
          <mat-panel-description>
          
          </mat-panel-description>
        </mat-expansion-panel-header>
<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

<div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
      <mat-form-field class="example-full-width">
          <input matInput name="bin_code" [(ngModel)]="bin.bin_code" formControlName="bincode" 
          placeholder="Bin Code" [ngModelOptions]="{standalone: true}" (ngModelChange)="bin.bin_code= $event.toUpperCase()">
      
        </mat-form-field>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.bincode">
            <div class="error-message"
              *ngIf="validations_form.get('bincode').hasError(validation.type) && (validations_form.get('bincode').dirty || validations_form.get('bincode').touched)">
             <mat-icon name="information-circle-outline"></mat-icon> 
                {{ validation.message }} 
            </div>
          </ng-container>
        </div>
</div>
<div fxFlex.xs="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50">
  <mat-form-field class="example-full-width">
    <input matInput name="bin_details" [(ngModel)]="bin.bin_details"  formControlName="bincodedetails"
    placeholder="Bin Details" [ngModelOptions]="{standalone: true}" (ngModelChange)="bin.bin_details= $event.toUpperCase()">
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field> 
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.bincodedetails">
      <div class="error-message"
        *ngIf="validations_form.get('bincodedetails').hasError(validation.type) && (validations_form.get('bincodedetails').dirty || validations_form.get('bincodedetails').touched)">
       <mat-icon name="information-circle-outline"></mat-icon> 
          {{ validation.message }} 
      </div>
    </ng-container>
  </div> 
</div>


</div>

</mat-expansion-panel>
</mat-accordion>
</span>

</form>
</div>




<mat-dialog-actions align="end">
<button mat-raised-button color="secondary"mat-button mat-dialog-close>Cancel</button>
<button  mat-raised-button color="primary" mat-button
class="submit-button"  [disabled]="!validations_form.valid" (click)="openConfirmationDialog(bin)">Save</button>
</mat-dialog-actions>






